/* Google fonts utiliser avec l'aide pour le choix d'un outil : https://fontjoy.com/ */
@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Expletus+Sans:wght@700&family=Source+Sans+Pro:ital,wght@1,300&display=swap');

/*margin padding de la page + pas de surlignage des liens du CV*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*ROOT des couleurs utilisé globalement*/
:root {
  --main-color: #FBA92C;
  --second-color: #d4d4d4;
  --third-color: #222222;
  --bg-color: #191919;
  --main-grid: repeat(auto-fill, minmax(300px, 1fr));
  --main-padding: 40px;
}


/*scroll pour la page */
html {
  scroll-behavior: smooth;
}

/* NAVIGATION BAR */
/*largeur maximale*/ 
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/*navbar def + font*/
.navbar {
  padding: 30px 0;
  /* background: #FBA92C; */
  width: 100%;
  z-index: 999;
  position: fixed;
  font-family: 'Source Sans Pro', sans-serif;
  transition: all ease 0.3s;
}
.navbar.sticky {
  padding: 8px 0;
  background: #222222;
}
/*navbar max-width*/
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*navbar lien logo*/
.navbar .logo a {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
}

/*navbar menu li*/
.navbar .menu li {
  list-style: none;
  display: inline-block;
}

/*navbar menu lien */
.navbar .menu li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  /* The mouse change color while moviment*/
  transition: color 0.3s ease;
}

/*navbar menu img */
.navbar .menu li a img {
  margin-bottom: -2px;
  width: 20px;
  height: 20px;
  transition: all ease 0.3s;
}

/*navbar img hover*/
.navbar .menu li a img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 #FBA92C);
}

/* Couleur au survol des liens */
.navbar .menu li a:hover {
  color: #FBA92C;
}
.navbar.sticky .menu li a:hover {
  color: rgb(221, 221, 221);
}

/* Menu Button Stylisé */

.menu-btn {
  color: #ffffff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/* Scrooll up btn pour remonter la page*/
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #FBA92C;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 45px;
  color: #ffffff;
  z-index: 999;
  font-size: 30px;
  border-radius: 7px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
/*pointer du scroller*/
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* HOME SECTION/ page accueil*/

.home {
  color: #ffffff;
  display: flex;
  background-color: #141414;
  /* background-image: url(""); */
  background-size: cover;
  background-attachment: fixed;
  height: 108.9vh;
  min-height: 500px;
  font-family: 'Source Sans Pro', sans-serif;
}
/* taille de la section home*/
.home .max-width {
  width: 100%;
  display: flex;
}
/* taille de text-1 de la section home */
.home .home-content .text-1 {
  font-size: 27px;
}
/* taille de text-2 de la section home + font spécifique*/
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  font-family: 'Expletus Sans', cursive;
}
/* taille de text-3 de la section home + font spécifique */
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
  font-family: 'Source Sans Pro', sans-serif;
  
}
/* couleur span */
.home .home-content .text-3 span {
  color: #FBA92C;
  font-weight: 600;
}
/* lien de la section */
.home .home-content a {
  display: inline-block;
  background: #FBA92C;
  color: #ffffff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FBA92C;
  transition: all ease 0.3s;
  font-weight: 200;
}
/* hover lien */
.home .home-content a:hover {
  color: #FBA92C;
  background: none;
}

/* Generale Style */
section {
  font-family: 'Libre Franklin', sans-serif;
  padding: 100px 0;
}
/* titre des sections */
section .title {
  position: relative;
  text-align: center;
  font-family: 'Expletus Sans', cursive;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
.about .about-content,
.services .serv-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* A propos Section Style */
.about {
  background: rgb(255, 255, 255);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -50px;
  font-family: "Poppins", sans-serif;
}
/* direction + wrap + justify content des éléments */ 
.about .about-content,
.services .serv-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* contenu gauche*/
.about .about-content .left {
  width: 45%;
}
/* contenu gauche*/
.about .about-content .right {
  width: 55%;
}
/* contenu gauche img*/
.about .about-content .left img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 15px;
}
/* contenu droit texte*/
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}
/* contenu span color + font */
.about .about-content .right .text span {
  color: #FBA92C;
  font-family: 'Source Sans Pro', sans-serif;
}
/* alignement balise p*/
.about .about-content .right p {
  text-align: justify;
}
/* lien */
.about .about-content .right a {
  display: inline-block;
  background: #FBA92C;
  color: #ffffff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FBA92C;
  transition: all ease 0.3s;
  font-weight: 200;
}
/* lien hover */
.about .about-content .right a:hover {
  color: #FBA92C;
  background: none;
}

/* Services Style  */
.services {
  color: #ffffff;
  background: #191919;
  font-family: "Poppins", sans-serif;
  
}
/* services content card size border +padding et transition + cursor  */
.services .serv-content .card {
  height: 230px;
  width: calc(33% - 20px);
  background: #252525;
  text-align: center;
  border-radius: 9px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* card hover*/
.services .serv-content .card:hover {
  background: #FBA92C;
  color: #ffffff;
}
/* transition sur card*/
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
/* transition sur card au survol*/
.services .serv-content .card:hover .box {
  transition: all 0.3s ease;
  transform: scale(1.05);
}
/* intégration icon font-awesome*/
.services .serv-content .card i {
  transition: all 0.3s ease;
  font-size: 40px;
  color: #FBA92C;
}
/* effet hover sur icon font-awesome*/
.services .serv-content .card :hover i {
  color: #ffffff;
}
/* texte à l'intérieur des cards */
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}

/* card button*/
.services .services-button {
  display: inline-block;
  background: #292929;
  margin: 0px 0px;
  color: #ffffff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border: 2px solid #292929;
  border-radius: 6px;
  transition: all ease 0.3s;
  font-weight: 200;
}
/* button survol*/
.services .services-button:hover {
  border: 2px solid #FBA92C;
  color: #FBA92C;
  background: none;
}
.services .button.wrapp {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

/* Projet section style */
.projects {
  margin-top: -120px;
  color: #ffffff;
  background: #191919;
}
/* défilement de différents projet avec une petite image de présentation dans un cercle */
.projects .carousel .card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #FBA92C;
  border-radius: 50%;
  transition: all ease 0.3s;
}
/* effet survol sur card*/
.projects .carousel .card:hover img {
  border: 2px solid rgb(255, 255, 255);
  transition: all ease 0.3s;
}
.projects .carousel {
  display: flex;
}
.projects .carousel .card {
  background: #222;
  border-radius: 9px;
  padding: 25px 35px;
  text-align: center;
  height: 300px;
  transition: all 0.3s ease;
}
/* effet survol du carousel*/
.projects .carousel .card:hover {
  transition: all 0.3s ease;
  background: #FBA92C;
  color: #ffffff;
}
/* hover transition box*/
.projects .carousel .card:hover .box {
  transition: all 0.3s ease;
  transform: scale(1.05);
}
/* text in project card */
.projects .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 10px 0;
  color: #ffffff;
  transition: all 0.3s ease;
}
/* placement card box*/
.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* lien des projet*/
.projects .carousel a {
  list-style: none;
  color: #ffffff;
}

/*carousel Jquery*/
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 25px;
  width: 25px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #FBA92C !important;
  transition: all ease 0.3s;
}
.owl-dot.active {
  width: 50px;
  border-radius: 14px;
}
.owl-dot:hover,
.owl-dot.active {
  background: #FBA92C !important;
}

/* timeline bordure + shadow léger + espacement des lettre + position et allignement*/
.timeline {
  border-left: 8px solid #FBA92C;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* color: #333; */
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 20px;
  list-style: none;
  text-align: left;
}

/* timeline taille des titres de H1 à H3*/
.timeline h1,
.timeline h2,
.timeline h3 {
  font-size: 1.4em;
}
/* timeline bordure + position*/
.timeline .event {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}
/* timeline dernier événements*/
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
/* timeline before after position */
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
/* timeline avant barre latérale*/
.timeline .event:before {
  left: -177.5px;
  color: #FBA92C;
  content: attr(data-date);
  text-align: right;
  /*  font-weight: 100;*/
  font-size: 16px;
  min-width: 120px;
}

/* timeline after*/
.timeline .event:after {
  box-shadow: 0 0 0 8px #FBA92C;
  left: -30px;
  background: #FBA92C; 
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

/* contenu contacte alignement + direction */
.contact-content{
  text-align: center;
  align-items: center;
  flex-direction: column;
}

/* container contact*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Compétences */
.skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--bg-color);
  text-align: center;
  
}
/* Compétences couleur titre*/
.skills .title {
  color: #ffffff;
}

/* Compétences espace bouton */
.skills .text {
  padding-bottom: 20px;
}

/* Compétences h2 taille + color*/
.skills h2 {
  font-size: 35px;
  color: var(--second-color);
  padding-bottom: 20px;
}

/* Compétences h2 span color */
.skills h2 span {
  color: var(--main-color);
}

/* Compétences balise p : color + size + taille font */
.skills p {
  font-size: 18px;
  color: var(--second-color);
  font-weight: 400;
}

/* Compétences card couleur bordure grid */
.skills .skill-card {
  display: grid;
  grid-template-columns: var(--main-grid);
  grid-gap: 60px;
  margin-bottom: 70px;
  margin-top: 60px;
  
}

/* Compétences card color */
.skills .skill-card .card{
  padding: 25px;
  text-align: center;
  background-color: var(--second-color);
  border: 2px solid var(--main-color);
  color: var(--third-color);
  transition: 1s;
  position: relative;
}

/* Compétences card + h4 font size + weight */
.skills .card h4{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
}

/* Compétences card p ligne hauteur */
.skills .card p{
  line-height: 1.7;
  font-size: 16px;
  color: var(--third-color);
}

/* Compétences logo font awesome intégrer */
.skills .card i{
  font-size: 42px;
  padding: 15px;
  width: 75px;
  height: 75px;
  color: var(--second-color);
  background-color: var(--main-color);
  position: absolute;
  top: calc(-75px / 2);
  transform: rotate(45deg);
  left: 39%;
  transition: 1s;
  border: 1px solid var(--main-color);
  border-radius: 20px;
}

/* Compétences card effet de transparence */
.skills .card:hover{
  background-color: transparent;
}

/* Compétences logo hover changement de couleur */
.skills .card:hover i{
  transform: rotate(0deg);
  background-color: var(--bg-color);
}

/* autre changement de couleur + transition */
.skills .card:hover h4, .skills .card:hover p{
  color: var(--second-color);
  transition: 1s;
}

/* Compétences lien */
.skills a{
  border: 1px solid var(--main-color);
  border-radius: 20px;
  background-color: var(--main-color);
  border-radius: 2px;
  color: var(--second-color);
  transition: background-color 0.8s;
  padding: 12px 20px;
  letter-spacing: 1.5px;
  z-index: 50px;
  text-decoration: none;
}

/* Compétences hover */
.skills a:hover{
  background-color: var(--second-color);
  color: var(--main-color);
}
.support{
position: relative;
padding-left: 20px;
padding-bottom: 20px;
display: flex;
background-color: var(--bg-color);
}
.support i{
color: var(--main-color);
font-size: 20px;
margin-left: 8px;
}
.hide1{
display: none;
margin-left: 5px;
margin-right: 10px;
color: var(--main-color);
font-size: 15px;
}
.support a:hover + .hide1{
display: block;
transition: all 1s;
}

/* Footer Styling */
footer {
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  background: #121212;
  justify-content: center;
}
footer p {
  color: #ffffff;
}
footer p span {
  color: #FBA92C;
}

/* lien non visité */
      a:link {
        color: #ccc;
      }
      /* lien visité */
      a:visited {
        color: #FBA92C;
      }
      /* souris sur le lien */
      a:hover {
        color: #FBA92C;
      }
      /* lien sélécté */
      a:active {
        color: #800000;
      }

#linkphone:hover { color: #FBA92C; 
}

#linkmail:hover { color: #FBA92C; 
}

/* Webkit scrollbar personnalisation de la bar de scroll du navigateur */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #191919;
}
::-webkit-scrollbar{
	width: 12px;
	background-color: #191919;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FBA92C;
}
/* Responsive media query*/

@media (max-width: 1216px) {
  .about .about-content .left img {
    width: 350px;
    height: 350px;
    margin-left: 13px;
  }
}
@media (max-width: 1104px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .max-width {
    padding: 0 50px;
  }
  .navbar .menu {
    position: fixed;
    background-color: rgba(17, 17, 17, 0.993);
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all ease 0.3s;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }

  .services .serv-content {
    flex-direction: column;
  }

  .services .serv-content .card {
    width: calc(85% - 20px);
    margin-bottom: 25px;
  }
  /*timeline parcours*/
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
}
@media (max-width: 768px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline .event:nth-child(1)::before,
  .timeline .event:nth-child(3)::before,
  .timeline .event:nth-child(5)::before {
    top: 38px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
}
@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 8px 20px;
  }
  .about .about-content .right a {
    font-size: 20px;
    padding: 8px 20px;
  }
  .column {
    width: 100%;
  }
.left {
    margin-bottom: 25px;
  }
  .owl-dot {
    height: 15px;
    width: 15px;
  }

  .owl-dot.active {
    width: 35px;
    border-radius: 14px;
  }
  .contact .contact-content .column {
    width: calc(100% - 0px);
  }
  footer p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }
  .home .home-content a {
    font-size: 18px;
  }
  .about .about-content .right a {
    font-size: 18px;
    padding: 5px 15px;
  }
}
@media (max-width: 425px) {
  .services .services-button {
    font-size: 17px;
    padding: 12px 0px;
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 370px) {
  .about .about-content .left img {
    width: 260px;
    height: 300px;
  }

}
@media (max-width: 330px) {
  .home .home-content .text-2 {
    font-size: 45px;
  }
  .home .home-content .text-3 {
    font-size: 23px;
  }

  .services .serv-content .card {
    height: 290px;
  }
}

@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}
@media (max-width: 991px){
  .data-date{
    display: none;
  }
}